.container{
  margin: 20px auto;
  max-width: 400px;
  max-height: 1000px;

}

.search{
  position: absolute;
  margin-top: 30px;
  margin-left: 180px;
}

#link{
  text-decoration: none;
}

p{
  text-align: center;
  font-size:10px;
  margin-top: 0;
}

#icon{
  position: relative;
  top: 10px;
  right: 50px;
}

#fahrenheit-link, #celcius-link{
  font-size: 10px;
  text-decoration: none;
  cursor: default;
}

.temp .active{
  color: black;
}
.temp .active :hover{
  text-decoration: none;
}